main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.boosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #faa759;
    border-radius: 20%;
    
}

.boosts ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.boosts li {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.boosts li img {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    border-radius: 25%;
}

.buy-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    background-color: #03e459;
    color: rgb(249, 239, 239);

    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    margin-right: 10%;
    text-align: center;

    min-width: 100px;
}

.buy-button:hover {
    background-color: #025e20;
    transform: scale(1.05);
}

.buy-button:active {
    transform: scale(0.95);
}

.boosts p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.boosts p:last-child {
    margin-bottom: 5%;
}

.metrics {
    background-color: #aeb6eb;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    margin-top: 2rem;
    min-width: 200px;
}

.metrics h2 {
    margin-bottom: 10%;
    margin-top: 5%;
}

.metrics h2, .metrics p  {
    margin-left: 5%;
    margin-right: 5%;
}

.metrics p:last-child {
    margin-bottom: 15%;
}

main .stats {
    width: 70%;
    margin-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
}

main .stats p {
    margin: 2px;
    font-size: 1rem;
    font-weight: 1000;
}


main .stats p:first-child {
    justify-self: start;
    margin-left: 0rem;
}

main .stats p:last-child {
    justify-self: end;
    margin-right: 0rem;
}

main .stats button {
    justify-self: center;

    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    background-color: #48539e;
    color: white;

    cursor: pointer;

    transition: transform 0.2s, background-color 0.2s;
}

main .stats button:hover {
    background-color: #171b34;
    transform: scale(1.05);
}


main .stats button:active {
    transform: scale(0.95);
}

#pizzaCanvas{
    width: 70%;
    height: 50%;
    margin-top: 1rem;
}

@keyframes pizzaClick {
    0% {transform: scale(1) rotate(0deg);}
    25% {transform: scale(0.85) rotate(-20deg);}
    50% {transform: scale(0.95) rotate(25deg);}
    75% {transform: scale(1.05) rotate(-10deg);}
    100% {transform: scale(1) rotate(5deg);}

}

.click-animation {
    animation: pizzaClick 150ms ease;
}



